.mint-button {
  float: left;
  background-color: antiquewhite;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  max-width: 174px;
}

.mint-button:hover {
  background-color: rgb(216, 199, 177);
  cursor: pointer;
}
